In [1]:
import pandas as pd

In [2]:
data = {
    "Name" : ["Shefaul", "Tanvir", "Sajol", "Rakib"],
    "Marks" : [90, 87, 89, 88],
    "City" : ["Nilphamari", "Thakurgaon", "Pabna", "Dinajpur"]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

      Name  Marks        City
0  Shefaul     90  Nilphamari
1   Tanvir     87  Thakurgaon
2    Sajol     89       Pabna
3    Rakib     88    Dinajpur

In [5]:
print(df)

      Name  Marks        City
0  Shefaul     90  Nilphamari
1   Tanvir     87  Thakurgaon
2    Sajol     89       Pabna
3    Rakib     88    Dinajpur

In [6]:
df.to_csv("friends.csv")

In [7]:
df.to_csv("friends_index_false.csv", index = False)