In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")

In [3]:
train

   Train No  Speed        City
0     12323     84       Dhaka
1     23232     75   Chilahati
2     42323     89      Khulna
3     12132     87     Rajsahi
4     45343     82      Sylhet
5     23244     89  Cox'sBazar

In [5]:
train["Speed"][5]

np.int64(89)

In [6]:
train["Speed"][3] = 82

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10168\525785357.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  train["Speed"][3] = 82
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10168\525785357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Speed"][3] = 82

In [7]:
train

   Train No  Speed        City
0     12323     84       Dhaka
1     23232     75   Chilahati
2     42323     89      Khulna
3     12132     82     Rajsahi
4     45343     82      Sylhet
5     23244     89  Cox'sBazar

In [8]:
train.to_csv("train.csv", index = False)

In [9]:
train.index = ['first', 'second', 'third', 'fourth', 'fiveth', 'sixth']

In [10]:
train

        Train No  Speed        City
first      12323     84       Dhaka
second     23232     75   Chilahati
third      42323     89      Khulna
fourth     12132     82     Rajsahi
fiveth     45343     82      Sylhet
sixth      23244     89  Cox'sBazar